# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives**
- Learn the Data Science Task Categories
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular open source/commercial tools/environments for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras

|Data Science Tools|
| ------ |
| Jupyter (Lab, Notebooks) |
| Apache Zeppelin |
| RStudio  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Brian Elder